:root {
  --durationOnScreen: 5s;

  --colorTextShadow: #778899; /*lightslategrey color*/
  --colorText: #333333;

  --shadowOffsetX: 0.1rem;
  --shadowOffsetY: 0.1rem;
  --shadowOffsetBlur: 0rem;

  --animationIconIN: roll-in-bottom;
  --animationIconOUT: roll-out-bottom;
  --animationTextIN: focus-in-contract;
  --animationTextOUT: blur-out-expand;

  --colorFollow: #1956c6;
  --colorSub: #673AB7;

  /* GAMER Socials */
  --colorDiscord: #7289da;
  --colorFacebook: #1877f2;
  /*--colorInstagram: #e4405f;*/
  --colorTwitch: #6441a4;
  --colorTwitter: #1da1f2;
  --colorYoutube: #f00;

  /* FORMAL Socials*/
  --colorMessenger: #00b2ff;
  --colorGmail: #d14836;
  --colorLinkedin: #0077b5;
  --colorSkype: #00aff0;
  --colorSlack: #4a154b;
  --colorTelegram: #2ca5e0;
  --colorWhatsapp: #25d366;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--colorText);
    font-size: 14px;
    /* overflow: hidden; */
}

.main-container {
    /* width: 500px; */
    height: 100%;
}

.path-follow {
    stroke: var(--colorFollow);
}

.path-sub {
    stroke: var(--colorSub);
}

/* GAMER Socials */
.path-discord {
    fill: var(--colorDiscord, #7289da);
}

.path-facebook {
    fill: var(--colorFacebook, #1877f2);
}

.path-instagram {
    fill: var(--colorInstagram, url(#color-instagram-gradient));
}

.path-messenger {
    fill: var(--colorMessenger, #00b2ff);
}

.path-tiktok {
}

.path-twitch {
    fill: var(--colorTwitch, #6441a4);
}

.path-twitter {
    fill: var(--colorTwitter, #1da1f2);
}

.path-youtube {
    fill: var(--colorYoutube, #f00);
}


/* FORMAL Socials */
.path-github {
}

.path-gmail {
    fill: var(--colorGmail, #d14836);
}

.path-linkedin {
    fill: var(--colorLinkedin, #0077b5);
}

.path-skype {
    fill: var(--colorSkype, #00aff0);
}

.path-slack {
    fill: var(--colorSlack, #4a154b);
}

.path-telegram {
    /*fill: var(--colorTelegram, #2ca5e0);*/
    fill: var(--colorTelegram, url(#color-telegram-gradient));
}

.path-telegram-old {
    fill: var(--colorTelegram, #2ca5e0);
}

.path-whatsapp {
    fill: var(--colorWhatsapp, #25d366);
}


/*.svgicon {
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0.5;
    animation: scale-in-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
}*/

.svgicon {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.7rem 1rem 1rem;
    opacity: 0;
    /*animation: jello-horizontal 0.9s forwards;*/
    animation: 
       var(--animationIconIN) 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards
      ,var(--animationIconOUT) 0.6s ease-in /*5s*/ forwards;
    
    animation-delay: 0s, var(--durationOnScreen);
}

.svgiconUsername {
    font-weight: 700;
    font-size: 3.5rem;
    margin: 1.35rem 1rem 1.35rem 0.7rem;
    color: var(--colorText);
    text-shadow: var(--shadowOffsetX) var(--shadowOffsetY) var(--shadowOffsetBlur) var(--colorTextShadow);
    opacity: 0;
    animation: 
       var(--animationTextIN) 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) /*0.7s*/ forwards
      ,var(--animationTextOUT) 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) /*4.3s*/ forwards;
    
    animation-delay: 0.7s, calc(var(--durationOnScreen) - 0.7s);
}

/*.svgicon-twitch {
  animation-delay: 10s, 15s;
}
.svgiconUsername-twitch {
  animation-delay: 10.7s, calc(15s - 0.7s);
}*/

/* ----------------------------------------------
 * Generated by Animista on 2020-10-28 22:26:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        /*opacity: 1;*/
    }

    99% {
        -webkit-transform: scale(6);
        transform: scale(6);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(7);
        transform: scale(7);
        display: none;
    }
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    opacity: 1;    
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/**
 * ----------------------------------------
 * animation roll-in-left | IMG IN
 * ----------------------------------------
 */
@keyframes roll-in-left {
  0% {
    transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-in-right | IMG IN
 * ----------------------------------------
 */
@keyframes roll-in-right {
  0% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-in-top | IMG IN
 * ----------------------------------------
 */
@keyframes roll-in-top {
  0% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-in-bottom | IMG IN
 * ----------------------------------------
 */
@keyframes roll-in-bottom {
  0% {
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-left | IMG OUT
 * ----------------------------------------
 */
@keyframes roll-out-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-right | IMG OUT
 * ----------------------------------------
 */
@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-top | IMG OUT
 * ----------------------------------------
 */
@keyframes roll-out-top {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-bottom | IMG OUT
 * ----------------------------------------
 */
@keyframes roll-out-bottom {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation focus-in-contract | TEXT IN
 * ----------------------------------------
 */
@keyframes focus-in-contract {
  0% {
    /*letter-spacing: 1em;*/
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation blur-out-expand | TEXT OUT
 * ----------------------------------------
 */
@keyframes blur-out-expand {
  0% {
    filter: blur(0.01);
  }
  100% {
    /*letter-spacing: 1em;*/
    filter: blur(12px);
    opacity: 0;
  }
}


/******************/
/**** SKELETON ****/
/******************/
.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Make break line buttons and preview */
    align-content: center;
    flex-wrap: wrap;
}

.manage-widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*flex: 0 0 600px;*/
    flex: auto;
    margin: 20px 20% 20px 20%;
}

.manage-widget > .button-showicon {
    flex: 0 1 120px;
    /* flex: auto; */
    height: 40px;
    user-select: none;
    text-align: center;
    background-color: #00800029;
    color: black;
    margin: 4px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;
}

.manage-widget > .text-username {
    margin: 50px;
    width: 100%;
}

.manage-widget > div:hover {
    filter: brightness(120%) saturate(140%);
}

.manage-widget > div:active {
    filter: brightness(70%);
}

/* Inserting a collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.line-break {
  flex-basis: 100%; 
  height: 0; 
  margin: 0; 
  border: none;
}
/* Preview Panel */
.widget-preview {
    /*margin: 20px 50% 20px 50%;
    padding: 115px 20px 20px 20px;
    height: 400px;
    min-width: 500px;
    background-image: url(../images/mac.mockup.01.png);
    background-size: contain;
    background-repeat: no-repeat;*/
    overflow: hidden;
}

.widget-preview > div {
    border: solid 1px black;
    border-radius: 1rem;
    /* box-shadow: 0px 0px 5px black; */
    /* padding-bottom: 4px; */
    /* height: 277px; */
    display: flex;
}


/* source input text style: 
   https://codepen.io/atunnecliffe/pen/gpKzQw 
   from: https://freefrontend.com/css-input-text/
*/
.text-username input,
.text-username span,
.text-username label,
.text-username textarea {
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 4rem;
}

.text-username input:focus {
  outline: 0;
}
/* Question */

.text-username input.inputcls {
  font-size: 3rem;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

.text-username input.inputcls + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.text-username input.inputcls:focus + label {
  width: 100%;
}

.text-username input.inputcls:focus,
.text-username input.inputcls:valid {
  padding-top: 35px;
}

.text-username input.inputcls:focus + label > span,
.text-username input.inputcls:valid + label > span {
  top: -100px;
  font-size: 1.25rem;
  color: #333;
}

.text-username input.inputcls:valid + label {
  border-color: green;
}

.text-username input.inputcls:invalid {
  box-shadow: none;
}

.text-username input.inputcls + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 2.75rem;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.text-username input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

.text-username input[type="submit"]:hover {
  background: #EEE;
}

.text-username input[type="submit"]:active {
  background: #999;
}

.text-username input.inputcls:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

.text-username input.inputcls:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/******************/
/******************/
/******************/
